<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MRuby.Library" version="0.1.6" manuallyInstalled="true" />
  <package id="NAudio.Core" version="2.2.1" manuallyInstalled="true" />
  <package id="NAudio.Midi" version="2.2.1" manuallyInstalled="true" />
  <package id="NAudio.Wasapi" version="2.2.1" manuallyInstalled="true" />
</packages>